@import url('https://fonts.googleapis.com/css?family=Michroma');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
body
{
  background-color:#f5f5f5;
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a.nav-link{
text-align: center;
display: inline-block;
}

nav{
  border-bottom-style: groove !important; 
  border-bottom-color: #4CBA78 !important;
  font-family: 'Karla', sans-serif !important;

}

.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}

/* Delete Image Button */
.del
{

    position: absolute;
    top: 3rem;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: red; 
    background-color:rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 40;

}

/* Add Image Button */
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4CBA78;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:3rem;
  margin-left: 1rem;
  

}





.upload-images{
    margin-top: 1rem;

}
.upload-options {
  position: relative;
  height: 75px;
  background-color: #FEC810;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  -webkit-transition: background-color ease-in-out 150ms;
  transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
  background-color: #4CBA78;
}
.upload-options input {
    width: 100%;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;

}
.upload-options label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

/* Plus sign */
.upload-options label::after {
  content: 'add';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 2.5rem;

  color: transparent;
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);
  z-index: 0;
}
.upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Plus Sign */
.js--image-preview::after {
  content: "photo_size_select_actual";
  font-family: 'Material Icons';
  position: relative;
  font-size: 4.5em;
  /* color: #e6e6e6; */
  top: calc(50% - 3rem);
  left: calc(50% - 2.25rem);
  z-index: 0;
}

.imgUp {
    margin-bottom: 15px;
    max-width: 100%;
    margin-bottom:15px;

}
.upload-images {
    margin-top: 21rem;
    background-color: #7fb1b3;
    position: absolute;
}

.form-inline {
    display: -ms-flexbox;
    display: inline;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}
.figure-caption {
    font-size: 100%;
    color: #cc4b37;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

/* Center Logo */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  /* Footer */
  footer{
    border-top-style: groove; 
    border-top-color: #4CBA78;
    background-color: #F8F9FA!important;  
    text-align: center; 
    color: #4CBA78!important;
    height: 60px; 
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    letter-spacing: .35em;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99!important;
    }




    .rounded-pill {
      border-radius: 5rem;
    }

    .btn-xl {
      text-transform: uppercase;
      padding: 1.5rem 3rem;
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
    }

    /*!
 * Start Bootstrap - Agency v5.0.4 (https://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */


p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}


.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  


}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

.col-sm-4{
  display: inline-block !important;
  text-align: center !important; 
}
.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

ul.social-buttons {
  margin-bottom: 0;

}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
  text-align: center;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}


li.list-inline-item{
margin-left: 25%;
margin-right: 25%; 
}


  .fa-upload{
    font-size: 2.5rem;
    color: whitesmoke;
    margin-top: 1rem; 
    top: calc(50% - 2.5rem);
    left: calc(50% - 1.25rem);
    position: absolute;
    z-index: 3;
  }



  /* styling for API Part */
  /*  */


 /* colors green rgb(94, 131, 35) 
          orange rgb(238, 150, 33) */
/* font-family: 'Montserrat', sans-serif;
   font-family: 'Raleway', sans-serif;
   font-family: "abolition", Arial, Helvetica, sans-serif;
   font-family: "flamenco", Arial, Helvetica, sans-serif;  */


@font-face {
  font-family: "flamenco";
  src: url("fonts/Flamenco-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "abolition";
  src: url("fonts/Fort Foundry - Abolition_0.otf");
  font-weight: normal;
}

/* p {
  font-family: 'Raleway', sans-serif;  
  font-size: 10px;
} */

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid rgb(238, 150, 33);
  box-shadow: 0 1px 0 0 rgb(238, 150, 33);
}

.panel-title {
  color: #696767;
}

.header01 {
  font-family: 'Raleway', sans-serif;
}

#topRow {
  margin-bottom: 30px;
}

#mainContainer {
  margin-bottom: 50px;
} 

.recipeButton {
  margin: 0 0 0 5px;
}

nav {
  height: 115px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  color: #696767;
  line-height: 1.5;
}

p {
  color: #696767; 
}

h1, h3 {
  font-family: "flamenco", Arial, Helvetica, sans-serif; 
  color: rgb(94, 131, 35);
}


h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  letter-spacing: 1px;
  float: right;
  padding: 0 12px 0 0;
  color: #696767;
}

.recipeButton {
  margin: 0 0 0 5px;
}

.navColor {
  width: 100%;
  height: 5px; 
  margin: 63px 0 0 0;
  background: rgb(238, 150, 33);
  box-shadow: 0px 2px rgb(94, 131, 35);
}

.navbar-brand {
 width: 100%;
}

.panel, .panel-default {
 padding: 5px 0px 10px 0px;
 border: none;
 padding: 0 0px 0 0px;
}

#ingredients-list {

  font-family: "flamenco", Arial, Helvetica, sans-serif; 
  color: rgb(94, 131, 35);
  font-size: 20px;
}
.footerBar {
  width: 100%;
  height: 50px
}

.btn, .btn-primary {
 background-color: rgb(94, 131, 35);
 font-size: 9pt;
 color: #DCE7D8;
 font-weight: bold;
}

.btnSpace {
  margin: 0 0 0 5px;
}

.currentIngredient {
  font-size: 24px;
  color: rgb(94, 131, 35);
  font-family: "flamenco", Arial, Helvetica, sans-serif;
}

.recipe {
  height: 470px;
} 

.recipeName {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  font-family: "flamenco", Arial, Helvetica, sans-serif; 
  color: rgb(94, 131, 35);
  font-size: 20px;
}

.recipeBtn {
  margin-right: 3px;
}

#ingredientsSearchBtn {
  margin-right: 5px;
}

.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}