/* colors green rgb(94, 131, 35) 
          orange rgb(238, 150, 33) */
/* font-family: 'Montserrat', sans-serif;
   font-family: 'Raleway', sans-serif;
   font-family: "abolition", Arial, Helvetica, sans-serif;
   font-family: "flamenco", Arial, Helvetica, sans-serif;  */


@font-face {
    font-family: "flamenco";
    src: url("fonts/Flamenco-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "abolition";
    src: url("fonts/Fort Foundry - Abolition_0.otf");
    font-weight: normal;
}

p {
    font-family: 'Raleway', sans-serif;  
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid rgb(238, 150, 33);
    box-shadow: 0 1px 0 0 rgb(238, 150, 33);
}

.panel-title {
    color: #696767;
}

.header01 {
    font-family: 'Raleway', sans-serif;
}

#topRow {
    margin-bottom: 30px;
}

#mainContainer {
    margin-bottom: 50px;
} 

.recipeButton {
    margin: 0 0 0 5px;
}

nav {
    height: 115px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    color: #696767;
    line-height: 1.5;
}

p {
    color: #696767; 
}

h1, h3 {
    font-family: "flamenco", Arial, Helvetica, sans-serif; 
    color: rgb(94, 131, 35);
}


h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    letter-spacing: 1px;
    float: right;
    padding: 0 12px 0 0;
    color: #696767;
}

.recipeButton {
    margin: 0 0 0 5px;
}

.navColor {
    width: 100%;
    height: 5px; 
    margin: 63px 0 0 0;
    background: rgb(238, 150, 33);
    box-shadow: 0px 2px rgb(94, 131, 35);
}

.navbar-brand {
   width: 100%;
}

.panel, .panel-default {
   padding: 5px 0px 10px 0px;
   border: none;
   padding: 0 0px 0 0px;
}

#ingredients-list {
  
    font-family: "flamenco", Arial, Helvetica, sans-serif; 
    color: rgb(94, 131, 35);
    font-size: 20px;
}
.footerBar {
    width: 100%;
    height: 50px
}

.btn, .btn-primary {
   background-color: rgb(94, 131, 35);
   font-size: 9pt;
   color: #DCE7D8;
   font-weight: bold;
}

.btnSpace {
    margin: 0 0 0 5px;
}

.currentIngredient {
    font-size: 24px;
    color: rgb(94, 131, 35);
    font-family: "flamenco", Arial, Helvetica, sans-serif;
}

 .recipe {
    height: 425px;
} 

.recipeName {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
    font-family: "flamenco", Arial, Helvetica, sans-serif; 
    color: rgb(94, 131, 35);
    font-size: 20px;
}

.recipeBtn {
    margin-right: 3px;
}

#ingredientsSearchBtn {
    margin-top: 5px;
}


