<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Neural Chef</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

  <!-- Bootsrap JS  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>



  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">

  <meta charset='UTF-8'>
  <meta name="robots" content="noindex">
  <link rel="shortcut icon" type="image/x-icon" href="https://docs.google.com/drawings/d/e/2PACX-1vQJlVT1VzMzfyrQLQ6yEqIkMCA1XYSLci6F1lrfii9ARG99ACy7NWkZ7h2js-2oN-FDPN9QWDtxM0GO/pub?w=960&h=720" />
  <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
    color="#111" />
  <link rel="canonical" href="https://codepen.io/DasBo/pen/RpwOmp?limit=all&page=38&q=image" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css'>
  <link rel='stylesheet prefetch' href='//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css'>

  <style class="cp-pen-styles">
    @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
    @import url("https://fonts.googleapis.com/css?family=Raleway");
    </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
  <!-- Popover -->
  <script>
    $(document).ready(function () {
      $('[data-toggle="popover"]').popover();
    });
  </script>

  <!-- Navigation -->



  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a style="font-weight: bolder !important;  font-size:20px;    font-family: 'Raleway', sans-serif;  color: #4CBA78!important;
    letter-spacing: .35em;">
      <img src="https://docs.google.com/drawings/d/e/2PACX-1vQJlVT1VzMzfyrQLQ6yEqIkMCA1XYSLci6F1lrfii9ARG99ACy7NWkZ7h2js-2oN-FDPN9QWDtxM0GO/pub?w=960&h=720"
        width="60" height="60" class="d-inline-block align-top" alt="">
      NEURAL CHEF
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style="text-align: center !important;">
        <li class="nav-item">
          <a class="nav-link" href="#how">Instructions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">Team</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome To Neural Chef!</div>
        <div class="intro-heading text-uppercase">Let's eat healthy together!</div>
        <button type="button" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger rounded-pill mt-5"
          data-toggle="popover" id="how" title="To use" data-trigger="focus" data-placement="bottom"  data-content="First, snap a picture of each vegetable in your pantry. Neural Chef will identify the vegetables and generate healthy and delicious recipes! ">Tell
          Me How</button>

      </div>
    </div>
  </header>

  <!-- Description Section  -->
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <hr>
          <h3 class="section-subheading text-muted"> Use neural networks to identify vegetables and discover delicious and healthy recipes.</h3>
      </div>

    </div>
  </div>

  {% block content %}


  {% endblock %}
  <!-- API -->

<div class="container" id="mainContainer">
		<!-- <div class="row" id="topRow">
			<!-- <div class="col-md-12"> -->
				<!-- <div class="panel panel-default">
				<!-- <div class="col-md-6">	
				</div> -->
				<!-- <div class="col-md-6">
        </div> -->
				<!-- </div> --> 
			<!-- </div> -->
		<!-- </div> --> 
  <div class="row">
    <div class="col-md-3">
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Search for Recipes</h3>
          </div>
          <div class="panel-body">
							<form>
								<div class="form-group">
									<!-- <input type="search" class="form-control" id="ingredientsSearchBar" placeholder="Ex. Kale"> -->
									<button type="submit" class="btn btn-default" id="ingredientsSearchBtn">Search</button>
								</div>
							</form>
          </div>	
      </div>
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne">
					      <h4 class="panel-title">
									Current ingredients
					      </h4>
							</div>
							<div class="panel-body" id="ingredients-list"></div>
					    </div>
					  </div>
				  </div>
          <div>
          </div>
    </div>
    <div class="col-md-9">
      <div id="recipeDisplay" class="col-md-12">
      </div>
    </div>
</div>
		<!-- <div class="row">
			<div class="col-md-12">

				<div class="panel panel-default"> 
				</div>

			</div>
		</div> -->
	<!-- </div> -->
  <!-- About -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About</h2>
          <h3 class="section-subheading text-muted">How were neural networks used in this project?</h3>
        </div>
      </div>
      <img src="https://docs.google.com/drawings/d/e/2PACX-1vQJlVT1VzMzfyrQLQ6yEqIkMCA1XYSLci6F1lrfii9ARG99ACy7NWkZ7h2js-2oN-FDPN9QWDtxM0GO/pub?w=960&h=720"
      width="400" height="400" class="center" alt="Neural Chef">

      <div class="row">
        <div class="col-lg-12">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa
            <strong>strong</strong>. Cum sociis natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus
            mus. Donec quam felis, ultricies nec, pellentesque
            eu, pretium quis, sem. Nulla consequat massa quis
            enim. Donec pede justo, fringilla vel, aliquet nec,
            vulputate eget, arcu. In enim justo, rhoncus ut,
            imperdiet a, venenatis vitae, justo. Nullam dictum
            felis eu pede <a class="external ext" href="#">link</a>
            mollis pretium. Integer tincidunt. Cras dapibus.
            Vivamus elementum semper nisi. Aenean vulputate
            eleifend tellus. Aenean leo ligula, porttitor eu,
            consequat vitae, eleifend ac, enim. Aliquam lorem ante,
            dapibus in, viverra quis, feugiat a, tellus. Phasellus
            viverra nulla ut metus varius laoreet. Quisque rutrum.
            Aenean imperdiet. Etiam ultricies nisi vel augue.
            Curabitur ullamcorper ultricies nisi.</p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa
            <strong>strong</strong>. Cum sociis natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus
            mus. Donec quam felis, ultricies nec, pellentesque
            eu, pretium quis, sem. Nulla consequat massa quis
            enim. Donec pede justo, fringilla vel, aliquet nec,
            vulputate eget, arcu. In enim justo, rhoncus ut,
            imperdiet a, venenatis vitae, justo. Nullam dictum
            felis eu pede <a class="external ext" href="#">link</a>
            mollis pretium. Integer tincidunt. Cras dapibus.
            Vivamus elementum semper nisi. Aenean vulputate
            eleifend tellus. Aenean leo ligula, porttitor eu,
            consequat vitae, eleifend ac, enim. Aliquam lorem ante,
            dapibus in, viverra quis, feugiat a, tellus. Phasellus
            viverra nulla ut metus varius laoreet. Quisque rutrum.
            Aenean imperdiet. Etiam ultricies nisi vel augue.
            Curabitur ullamcorper ultricies nisi.</p>


        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">NEURAL CHEF TEAM</h2>
          <h3 class="section-subheading text-muted">The team that made Neural Chef possible. And a special thanks to Trupti Samant!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQF3vtBCgta1Hw/profile-displayphoto-shrink_800_800/0?e=1552521600&v=beta&t=zpzMFKhBjohr-EBMJFLZeO39Fc_7WmAx6jhPZROsEU8"
              alt="">
            <h4>Trupti Samant</h4>
            <ul class="social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/trupti-samant-44869310/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQFqZreX7_7ifw/profile-displayphoto-shrink_200_200/0?e=1552521600&v=beta&t=ucdajRs8PN0I502uOPCaUePHkKhXrvNIMIHjjOpG4MI"
              alt="">
            <h4>Gabriela Cantu</h4>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/cantugabriela/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4D03AQFpCrgJl8JL4w/profile-displayphoto-shrink_800_800/0?e=1552521600&v=beta&t=3gxj4bDvnJmseuWSNHfcChCBDdjJ-5NPBKVZmoYrQwo"
              alt="">
            <h4>Tinku Supakar</h4>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/tinku-supakar-32357516/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQGn-SfSHBBo6Q/profile-displayphoto-shrink_800_800/0?e=1552521600&v=beta&t=4CB3XIBtObpat6_AliOom2TDZDtKt-wk2gSbnmqU0UA"
              alt="">
            <h4>Ananya Yetigadda</h4>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/ananya-yetigadda/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4D03AQE2ipqGp_jdnA/profile-displayphoto-shrink_800_800/0?e=1552521600&amp;v=beta&amp;t=-Ch4STmbwsXaUScfk0WnjA8NEOLTpGTR8XGRrd4HCqA"
              alt="">
            <h4>Shruthi Elkal</h4>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/shruthi-elkal-75223616/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQGNQd9ZVb6RDw/profile-displayphoto-shrink_800_800/0?e=1552521600&amp;v=beta&amp;t=BVd26r5ZUDgVVp8GnlnwTMpLz1ZLwRZ3HUMJVrAOf1A"
              alt="">
            <h4>Shubha Prashanth</h4>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/subha-prashanth/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>



        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <p class="large text-muted">Reach out to the team for employment inquiries, comments, and suggestions. This is the concluding machine learning project made at the Data Analysis and Visualization Boot Camp at Texas McCombs.</p>
          </div>
        </div>
      </div>
  </section>

  <!-- Footer -->
  </div>

  <footer class="footer">
    <div class="footer">© 2018 Neural Chef </div>


    </div>


    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js_api/app_api.js')}}"></script>
</body>

</html>