<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Neural Chef</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- Bootsrap JS  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">


  <meta charset='UTF-8'>
  <meta name="robots" content="noindex">
  <link rel="shortcut icon" type="image/x-icon" href="https://docs.google.com/drawings/d/e/2PACX-1vQJlVT1VzMzfyrQLQ6yEqIkMCA1XYSLci6F1lrfii9ARG99ACy7NWkZ7h2js-2oN-FDPN9QWDtxM0GO/pub?w=960&h=720" />
  <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
    color="#111" />
  <link rel="canonical" href="https://codepen.io/DasBo/pen/RpwOmp?limit=all&page=38&q=image" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css'>
  <link rel='stylesheet prefetch' href='//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css'>

  <style class="cp-pen-styles">
    @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
    @import url("https://fonts.googleapis.com/css?family=Raleway");
    </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
  <!-- Popover -->
  <script>
    $(document).ready(function () {
      $('[data-toggle="popover"]').popover();
    });
  </script>

  {% block content %}
  {% endblock %}

    <!-- Footer -->
  </div>

  <footer class="footer">
    <div class="footer">© 2019 Neural Chef </div>

    </div>

    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
</body>

</html>
