{% extends "base.html" %}
{% block content %}
<br>
<div class="bg-light" style="padding: 50px;">
    <form class="form-inline" method="post" enctype=multipart/form-data> <div class="row">
        <div class="col-lg-3 col-sm-3 imgUp">
            <figcaption class="figure-caption" id="image-name">Upload to Predict</figcaption>
            <br>
            <div class="form-group">
                <div class="imagePreview"></div>
                <div class="upload-options">
                    <label>
                        <i class="fas fa-upload"></i>
                        <input action="/" type="file" name='file' class="image-upload" accept="image/*" />

                    </label>
                </div>
            </div>

        </div>

    </form><!-- col-2 -->
    <i class="fa fa-plus imgAdd"></i>
</div><!-- row -->


</div><!-- container -->

{% endblock %}