
{% block team %}
<!-- Team -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">NEURAL CHEF TEAM</h2>
        <h3 class="section-subheading text-muted">The team that made Neural Chef possible. And a special thanks to Trupti Samant!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQF3vtBCgta1Hw/profile-displayphoto-shrink_800_800/0?e=1552521600&v=beta&t=zpzMFKhBjohr-EBMJFLZeO39Fc_7WmAx6jhPZROsEU8"
            alt="">
          <h4>Trupti Samant</h4>
          <ul class="social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/trupti-samant-44869310/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQFqZreX7_7ifw/profile-displayphoto-shrink_200_200/0?e=1552521600&v=beta&t=ucdajRs8PN0I502uOPCaUePHkKhXrvNIMIHjjOpG4MI"
            alt="">
          <h4>Gabriela Cantu</h4>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/cantugabriela/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4D03AQFpCrgJl8JL4w/profile-displayphoto-shrink_800_800/0?e=1552521600&v=beta&t=3gxj4bDvnJmseuWSNHfcChCBDdjJ-5NPBKVZmoYrQwo"
            alt="">
          <h4>Tinku Supakar</h4>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/tinku-supakar-32357516/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQGn-SfSHBBo6Q/profile-displayphoto-shrink_800_800/0?e=1552521600&v=beta&t=4CB3XIBtObpat6_AliOom2TDZDtKt-wk2gSbnmqU0UA"
            alt="">
          <h4>Ananya Yetigadda</h4>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/ananya-yetigadda/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4D03AQE2ipqGp_jdnA/profile-displayphoto-shrink_800_800/0?e=1552521600&amp;v=beta&amp;t=-Ch4STmbwsXaUScfk0WnjA8NEOLTpGTR8XGRrd4HCqA"
            alt="">
          <h4>Shruthi Elkal</h4>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/shruthi-elkal-75223616/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQGNQd9ZVb6RDw/profile-displayphoto-shrink_800_800/0?e=1552521600&amp;v=beta&amp;t=BVd26r5ZUDgVVp8GnlnwTMpLz1ZLwRZ3HUMJVrAOf1A"
            alt="">
          <h4>Shubha Prashanth</h4>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/subha-prashanth/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12 mx-auto text-center">
          <!-- <p class="large text-muted">Reach out to the team for employment inquiries, comments, and suggestions. This is the concluding machine learning project made at the Data Analysis and Visualization Boot Camp at Texas McCombs.</p> -->
        </div>
      </div>
    </div>
</section>

{% endblock %}
