@import url('https://fonts.googleapis.com/css?family=Michroma');
@import url('https://fonts.googleapis.com/css?family=Karla');

body
{
  background-color:#f5f5f5;
}

nav{
  border-bottom-style: groove !important; 
  border-bottom-color: #4CBA78 !important;
  font-family: 'Karla', sans-serif !important;
}

.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}

.del
{

    position: absolute;
    top: 3rem;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #5f9ea0;
    cursor: pointer;

}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#017bff;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:3rem;
  margin-left: 1rem;
  
  /* cursor:pointer; */
  /* font-size:15px; */
}



.jumbotron{
  /* background: url('https://images.pexels.com/photos/952479/pexels-photo-952479.jpeg') center center; */
  background-color: #2E323A;
  background-repeat: no-repeat;
  background-size: auto;
}

.predictButton {
    margin-top: 5rem;

}

.upload-images{
    margin-top: 1rem;

    background-color: #7fb1b3;

}
.upload-options {
  position: relative;
  height: 75px;
  background-color: cadetblue;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  -webkit-transition: background-color ease-in-out 150ms;
  transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
  background-color: #7fb1b3;
}
.upload-options input {
    width: 100%;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    /* position: absolute; */
    z-index: -1;

}
.upload-options label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.upload-options label::after {
  content: 'add';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 2.5rem;
  color: #e6e6e6;
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);
  z-index: 0;
}
.upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.js--image-preview::after {
  content: "photo_size_select_actual";
  font-family: 'Material Icons';
  position: relative;
  font-size: 4.5em;
  color: #e6e6e6;
  top: calc(50% - 3rem);
  left: calc(50% - 2.25rem);
  z-index: 0;
}

.imgUp {
    margin-bottom: 15px;
    max-width: 100%;
    margin-bottom:15px;

}
.upload-images {
    margin-top: 21rem;
    background-color: #7fb1b3;
    position: absolute;
}

.form-inline {
    display: -ms-flexbox;
    display: inline;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}
.figure-caption {
    font-size: 100%;
    color: #cc4b37;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}



  /* Footer */
  footer{
    border-top-style: groove; 
    border-top-color: #4CBA78;
    background-color: #F8F9FA!important;  
    text-align: center; 
    color: #4CBA78!important;
    height: 60px; 
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    letter-spacing: .35em;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 99!important;
    }

    /* background-color: #2E323A!important;   */


    section{
      color: whitesmoke;
    }